<h4>Logged in as <%=@user.username%></h4>
<h5><a href="/">Home</a> - <a href="/users/<%=@user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>

<h1>Update Comment for <%=@comment.item.name%></h1>

<form action="/comments/<%=@comment.id%>/edit" method="post">
	<input type="hidden" method="_method" value="patch">
	<textarea name="content" cols="30" rows="5"><%=@comment.content%></textarea>
	<input type="submit" value="Update">
</form>
