<h4>Logged in as <%=@user.username%></h4>
<h5><a href="/">Home</a> - <a href="/users/<%=@user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>

<%if current_user == @user%><h4><a href="/users/<%=@user.username%>/edit">Update User</a> - <a href="/items/new">Add Item</a></h4><%end%>

<h3>Everything Available from <%<%=@user.username%></h3>
<%@user.items.each do |i|%>
<ul>
	<li>
		<a href="/items/<%=i.id%>"><%=i.name%></a>, Qty. <%=i.quantity%>
		<%if current_user == @user%>- <span><a href="/items/<%=i.id%>/delete">Delete</a> or <a href="/items/<%=i.id%>/edit">Edit</a></span><%end%>
	</li>
</ul>
<%end%>