<h3><%=@user.username%> - <a href="/">Home</a></h3>
<%if current_user == @user%><h4><a href="/users/<%=@user.username%>/edit">Edit User</a></h4><%end%>

<h4><a href="/items/new">Make New Item</a></h4>

<%@user.items.each do |i|%>
<ul><li><%=i.name%>, Qty. <%=i.quantity%> - <a href="/items/<%=i.id%>/delete">Delete</a> or <a href="/items/<%=i.id%>/edit">Edit</a></li></ul>
<%end%>