<h4>Welcome, <a href="/users/<%=current_user.username%>"><%=current_user.username%></a></h4>
<h5><a href="/">Home</a> - <a href="/items/new">New Item</a> - <a href="/users/<%=current_user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>
<h5><a href="/locations">Locations</a></h5>
<br>
<h2>All Items Available in Your City -- (<%=current_user.location.name%>)</h2>

<% current_user.location.items.reverse.each do |i| %>
<ul>
<li><a href="/items/<%=i.id%>"><%=i.name%></a>, Quantity: <%=i.quantity%>, from <a href="/users/<%=i.user.username%>"><%=i.user.username%></a></li>
</ul>
<%end%>
<br>
<h2>All Items Available Elsewhere</h2>

<% Item.all.each do |i| %>
<ul>
<%if i.user.location != current_user.location%>
<li><a href="/items/<%=i.id%>"><%=i.name%></a>, Quantity: <%=i.quantity%>, from <a href="/users/<%=i.user.username%>"><%=i.user.username%></a> in <%=i.user.location.name%></li>
<%end%>
</ul>
<%end%>
