<h4>Welcome, <a href="/users/<%=current_user.username%>"><%=current_user.username%></a></h4>
<h5><a href="/">Home</a> - <a href="/users/<%=current_user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>

<h2>All Items Available</h2>

<% Item.all.each do |i| %>
<ul>
<li><a href="/items/<%=i.id%>"><%=i.name%></a>, Quantity: <%=i.quantity%>, from <a href="/users/<%=i.user.username%>"><%=i.user.username%></a> in <%=i.user.location%></li>
</ul>
<%end%>
