<h4>Logged in as <%=current_user.username%></h4>
<h5><a href="/">Home</a> - <a href="/users/<%=current_user.username%>">My Items</a> - <a href="/logout">Logout</a></h5>

<h2><%=@item.name%> from <a href="/users/<%=@item.user.username%>"><%=@item.user.username%></a></h2>
<h4>Qty: <%=@item.quantity%></h4>

<%if !@item.comments.empty?%>

<h3>Comments: </h3>
<%@item.comments.each do |c|%>
<%if session[:message]%> <p> <style>p {color:red;}</style> <%=session[:message]%></p><%end%>
<ul><li><%=c.content%>, by <a href="/users/<%=c.user.username%>"><%=c.user.username%></a>
<%if c.user == current_user %><p><a href="/comments/<%=c.id%>/delete">Delete</a> - <a href="/comments/<%=c.id%>/edit">Edit</a></p><%end%></li></ul>

<%end%>
<%end%>

<h3>Add a Comment:</h3>
	<form action="/comments/<%=@item.id%>/new" method="post">
		<textarea name="comment" id="<%@item.id%>" cols="30" rows="5"></textarea>
		<br>
		<input type="submit" value="Submit">
	</form>