<h4>Logged in as <%=@user.username%></h4>

<h2><%=@item.name%> from <%=@item.user.username%></h2>
<h4><a href="/users/<%=@user.username%>">My Items</a> - <a href="/logout">Logout</a></h4>

<%@item.comments.each do |c|%>

<ul><li><%=c.quantity%> - <%=c.content%>, by <a href="/users/<%=c.user.username%>"><%=c.user.username%></a></li></ul>
<%end%>